<div>
  <h2>Your student form inputs</h2>
  <h4>Full name: </h4>
  <h3 style = "color: violet;">
    <%= @full_name %>
  </h3>
  <h4>Year : </h4>
  <h3 style = "color: violet;">
    <%= @year %>
  </h3>
  <h4>Major: </h4>
  <h3 style = "color: violet;">
    <%= @major %>
  </h3>
</div>
